pyrogram
tgcrypto
py-tgcalls
python-dotenv
requests
aiohttp
aiofiles
asyncio
youtube-search
pillow
future
psutil
wget
ffmpeg-python
git+https://github.com/Arshdhillon786/lavdalp@master
heroku3
motor
dnspython
